[
 [:app "ctrl-x k" :tabs.close]
 [:app "ctrl-x o" :tabs.next]
 [:app "ctrl-x s" :save-all]
 [:app "ctrl-x ctrl-c" :quit]
 [:app "ctrl-x ctrl-f" :navigate-workspace-transient]
 [:app "alt-x" :show-commandbar-transient]
 [:app "ctrl-x ctrl-s" :save]
 [:app "ctrl-x f" :open-file]
 [:app "ctrl-x ctrl-w" :save]

 [:editor.keys.emacs "ctrl-w" (:emacs.keymap-cmd "Ctrl-W")]
 [:editor.keys.emacs "ctrl-k" (:emacs.keymap-cmd "Ctrl-K")]
 [:editor.keys.emacs "alt-w" (:emacs.keymap-cmd "Alt-W")]
 [:editor.keys.emacs "ctrl-y" (:emacs.keymap-cmd "Ctrl-Y")]
 [:editor.keys.emacs "alt-y" (:emacs.keymap-cmd "Alt-Y")]
 [:editor.keys.emacs "ctrl-space" (:emacs.keymap-cmd "Ctrl-Space")]
 [:editor.keys.emacs "ctrl-shift-2" (:emacs.keymap-cmd "Ctrl-Shift-2")]
 [:editor.keys.emacs "ctrl-f" (:emacs.keymap-cmd "Ctrl-F")]
 [:editor.keys.emacs "ctrl-b" (:emacs.keymap-cmd "Ctrl-B")]
 [:editor.keys.emacs "right" (:emacs.keymap-cmd "Right")]
 [:editor.keys.emacs "left" (:emacs.keymap-cmd "Left")]
 [:editor.keys.emacs "ctrl-d" (:emacs.keymap-cmd "Ctrl-D")]
 [:editor.keys.emacs "delete" (:emacs.keymap-cmd "Delete")]
 [:editor.keys.emacs "backspace" (:emacs.keymap-cmd "Backspace")]
 [:editor.keys.emacs "alt-f" (:emacs.keymap-cmd "Alt-F")]
 [:editor.keys.emacs "alt-b" (:emacs.keymap-cmd "Alt-B")]
 [:editor.keys.emacs "alt-d" (:emacs.keymap-cmd "Alt-D")]
 [:editor.keys.emacs "alt-backspace" (:emacs.keymap-cmd "Alt-Backspace")]
 [:editor.keys.emacs "ctrl-n" (:emacs.keymap-cmd "Ctrl-N")]
 [:editor.keys.emacs "ctrl-p" (:emacs.keymap-cmd "Ctrl-P")]
 [:editor.keys.emacs "down" (:emacs.keymap-cmd "Down")]
 [:editor.keys.emacs "up" (:emacs.keymap-cmd "Up")]
 [:editor.keys.emacs "ctrl-a" (:emacs.keymap-cmd "Ctrl-A")]
 [:editor.keys.emacs "ctrl-e" (:emacs.keymap-cmd "Ctrl-E")]
 [:editor.keys.emacs "end" (:emacs.keymap-cmd "End")]
 [:editor.keys.emacs "home" (:emacs.keymap-cmd "Home")]
 [:editor.keys.emacs "alt-v" (:emacs.keymap-cmd "Alt-V")]
 [:editor.keys.emacs "ctrl-v" (:emacs.keymap-cmd "Ctrl-V")]
 [:editor.keys.emacs "pageup" (:emacs.keymap-cmd "PageUp")]
 [:editor.keys.emacs "pagedown" (:emacs.keymap-cmd "PageDown")]
 [:editor.keys.emacs "ctrl-up" (:emacs.keymap-cmd "Ctrl-Up")]
 [:editor.keys.emacs "ctrl-down" (:emacs.keymap-cmd "Ctrl-Down")]
 [:editor.keys.emacs "alt-a" (:emacs.keymap-cmd "Alt-A")]
 [:editor.keys.emacs "alt-e" (:emacs.keymap-cmd "Alt-E")]
 [:editor.keys.emacs "alt-k" (:emacs.keymap-cmd "Alt-K")]
 [:editor.keys.emacs "ctrl-alt-k" (:emacs.keymap-cmd "Ctrl-Alt-K")]
 [:editor.keys.emacs "ctrl-alt-backspace" (:emacs.keymap-cmd "Ctrl-Alt-Backspace")]
 [:editor.keys.emacs "ctrl-alt-f" (:emacs.keymap-cmd "Ctrl-Alt-F")]
 [:editor.keys.emacs "ctrl-alt-b" (:emacs.keymap-cmd "Ctrl-Alt-B")]
 [:editor.keys.emacs "ctrl-alt-shift-2" (:emacs.keymap-cmd "Shift-Ctrl-Alt-2")]
 [:editor.keys.emacs "ctrl-alt-t" (:emacs.keymap-cmd "Ctrl-Alt-T")]
 [:editor.keys.emacs "ctrl-alt-u" (:emacs.keymap-cmd "Ctrl-Alt-U")]
 [:editor.keys.emacs "alt-space" (:emacs.keymap-cmd "Alt-Space")]
 [:editor.keys.emacs "ctrl-o" (:emacs.keymap-cmd "Ctrl-O")]
 [:editor.keys.emacs "ctrl-t" (:emacs.keymap-cmd "Ctrl-T")]
 [:editor.keys.emacs "alt-c" (:emacs.keymap-cmd "Alt-C")]
 [:editor.keys.emacs "alt-u" (:emacs.keymap-cmd "Alt-U")]
 [:editor.keys.emacs "alt-l" (:emacs.keymap-cmd "Alt-L")]
 [:editor.keys.emacs "alt-;" :toggle-comment-selection]
 [:editor.keys.emacs "ctrl-/" (:emacs.keymap-cmd "Ctrl-/")]
 [:editor.keys.emacs "ctrl-shift--" (:emacs.keymap-cmd "Shift-Ctrl--")]
 [:editor.keys.emacs "ctrl-z" (:emacs.keymap-cmd "Ctrl-Z")]
 [:editor.keys.emacs "cmd-z" (:emacs.keymap-cmd "Cmd-Z")]
 [:editor.keys.emacs "alt-shift-," (:emacs.keymap-cmd "Shift-Alt-,")]
 [:editor.keys.emacs "alt-shift-." (:emacs.keymap-cmd "Shift-Alt-.")]
 [:editor.keys.emacs "ctrl-r" (:find.show true)]
 [:editor.keys.emacs "ctrl-g" (:emacs.keymap-cmd "Ctrl-G")]
 [:editor.keys.emacs "alt-shift-5" :find.replace]
 [:editor.keys.emacs "alt-/" :auto-complete.force]
 [:editor.keys.emacs "ctrl-j" (:emacs.keymap-cmd "Ctrl-J")]
 [:editor.keys.emacs "enter" :passthrough]
 [:editor.keys.emacs "tab" :smart-indent-selection]
 [:editor.keys.emacs "ctrl-u" (:emacs.keymap-cmd "Ctrl-U")]
 [:editor.keys.emacs "ctrl-x tab" (:emacs.keymap-cmd "Tab" "emacs-Ctrl-X")]
 [:editor.keys.emacs "ctrl-x ctrl-x" (:emacs.keymap-cmd "Ctrl-X" "emacs-Ctrl-X")]
 [:editor.keys.emacs "ctrl-x u" (:emacs.keymap-cmd "U" "emacs-Ctrl-X")]
 [:editor.keys.emacs "ctrl-x delete" (:emacs.keymap-cmd "Delete" "emacs-Ctrl-X")]
 [:editor.keys.emacs "alt-g g" :goto-line]
 [:editor.keys.emacs "alt-g alt-g" :goto-line]
 [:editor.keys.emacs "ctrl-s" :find.fill-selection :find.show]
 [:editor.keys.emacs "ctrl-q tab" (:emacs.keymap-cmd "Tab" "emacs-Ctrl-Q")]
 [:editor.keys.emacs "ctrl-x h" :editor.select-all]
 [:editor.keys.emacs "ctrl-x ctrl-e" :eval-editor-form]

 [:editor.keys.hinting.active "down" (:filter-list.input.move-selection 1)]
 [:editor.keys.hinting.active "ctrl-n" (:filter-list.input.move-selection 1)]
 [:editor.keys.hinting.active "ctrl-p" (:filter-list.input.move-selection -1)]
 [:editor.keys.hinting.active "esc" :auto-complete.remove]
 [:editor.keys.hinting.active "tab" :auto-complete]
 [:editor.keys.hinting.active "up" (:filter-list.input.move-selection -1)]

 [:editor.keys.normal "ctrl-f" (:emacs.keymap-cmd "Ctrl-F")]

 [:find-bar "ctrl-s" :find.next]
 [:find-bar "ctrl-r" :find.prev]
 [:find-bar "ctrl-g" :find.clear :find.hide]
 [:find-bar "ctrl-n" :find.clear :find.hide (:emacs.keymap-cmd "Ctrl-N")]
 [:find-bar "ctrl-p" :find.clear :find.hide (:emacs.keymap-cmd "Ctrl-P")]
]
